RewriteEngine On

#if find existing file ignore the rewrite
RewriteCond %{REQUEST_FILENAME} !-f

#if find existing directory just retrieve it as it is.
RewriteCond %{REQUEST_FILENAME} !-d

#get the query string and display it as this.
RewriteRule ^(.*)$ index.php?url=$1 [L,QSA]